$ cat .gitattributes
*.rb linguist-language=PLpgSQL
*.sql linguist-language=PLpgSQL
*.md linguist-language=PLpgSQL
*.sql linguist-detectable=true
examples/leetcode/database/Easy/Top_Travellers.sql linguist-detectable=true
