$ cat .gitattributes
*.rb linguist-language=PLpgSQL
*.sql linguist-language=PLpgSQL
*.md linguist-language=PLpgSQL
*.sql linguist-detectable=true
examples/leetcode/database/Easy/Big Countries.sql linguist-detectable=true
